
<app-navabr></app-navabr>
<div class="bg-white">
    <div class="container" style="background-color: black;">

        <!-- pie chart -->

        <div class="pt-5 W-100 d-flex justify-content-between">
            <div style="width: 30%; " style="background-color: white;">
                <app-pie-chart></app-pie-chart>
            </div>
            <!-- gradient donut chart -->
            <div style="width: 30%;" style="background-color: white;">
                <app-gradient-donut-chart></app-gradient-donut-chart>
            </div>
            <div style="width: 30%; " style="background-color: white;">
                <app-radar-chart></app-radar-chart>
            </div>
        </div>

        <div class="maindiv">
            <div class="card">
                <div style="background-color: black; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 50%; overflow: hidden;"><img src="../assets/blog-user.jpg" alt=""></div>
                <div>
                    <h2>Chandegle</h2>
                    <p style="color: rgb(231, 227, 227);">code@gmail.com</p>
                    <h4 style="color: yellow;">ADMIN</h4>
                </div>
            </div>
            <div class="card">
                <div style="background-color: black; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 50%; overflow: hidden;"><img src="../assets/blog-user.jpg" alt=""></div>
                <div>
                    <h2>Chandegle</h2>
                    <p style="color: rgb(231, 227, 227);">code@gmail.com</p>
                    <h4 style="color: yellow;">ADMIN</h4>
                </div>
            </div>
            <div class="card">
                <div style="background-color: black; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 50%; overflow: hidden;"><img src="../assets/blog-user.jpg" alt=""></div>
                <div>
                    <h2>Chandegle</h2>
                    <p style="color: rgb(231, 227, 227);">code@gmail.com</p>
                    <h4 style="color: yellow;">ADMIN</h4>
                </div>
            </div>
            <div class="card">
                <div style="background-color: black; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 50%; overflow: hidden;"><img src="../assets/blog-user.jpg" alt=""></div>
                <div>
                    <h2>Chandegle</h2>
                    <p style="color: rgb(231, 227, 227);">code@gmail.com</p>
                    <h4 style="color: yellow;">ADMIN</h4>
                </div>
            </div>
           
        </div>

        
    </div>
</div>