<section class="vh-100 gradient-custom" style="background-image: url(https://coderthemes.com/adminto/layouts/assets/images/bg-auth3.png); background-repeat: no-repeat; background-position: center; ">


    <div class="container py-5 h-100">

      <div class="row justify-content-center">
        <div class="col-md-3 d-flex justify-content-center">
          <img src="https://coderthemes.com/adminto/layouts/assets/images/logo-dark.png" alt="" class="img-fluid img-responsive text-center ">
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card  text-dark" style="border-radius: 1rem;">
           <div class="container p-3">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                  <form>
                    <div class="text-center mb-3">
                      <h3>Sign in</h3>
                     
                    </div>
              
                   
              
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="loginName">Email Address</label>
                      <input type="email" id="loginName" class="form-control" placeholder="Enter Your Email"/>
                      
                    </div>
              
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="loginPassword">Password</label>
                      <input type="password" id="loginPassword" class="form-control" placeholder="Password" />
                      
                    </div>
              
                    <!-- 2 column grid layout -->
                    <div class="row  mb-4">
                      <div class="col-md-12 d-flex ">
                        <!-- Checkbox -->
                        <div class="form-check mb-3 mb-md-0">
                          <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                          <label class="form-check-label" for="loginCheck"> Remember me </label>
                        </div>
                      </div>
                    </div>
              
                    <!-- Submit button -->
                    <a href="">
                        <button type="submit" class="btn btn-primary  mb-4" style="width: 100%;" (click)="login()">Sign in</button>
                    </a>
              
                   
                  </form>
                </div>
              
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>