.fluid-container{
    background-image: url(https://media.istockphoto.com/id/1332097112/photo/the-black-and-silver-are-light-gray-with-white-the-gradient-is-the-surface-with-templates.webp?b=1&s=170667a&w=0&k=20&c=uzejUTDUlhurH8GcYgKElOMBFkK84FEp9BIzzmncGWo=);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
}