<div class="row">
  <!-- ==================================-->
  <!-- =======Dropdown ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Dropdown</h4>
      </div>
      <div class="card-body border-top">
        <div class="button-group">
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-primary d-flex align-items-center" id="dropdown1" ngbDropdownToggle>
              Primary

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-danger d-flex align-items-center" id="dropdown2" ngbDropdownToggle>
              Danger

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>

          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-info d-flex align-items-center" id="dropdown3" ngbDropdownToggle>
              Info

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown3">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-warning d-flex align-items-center" id="dropdown4" ngbDropdownToggle>
              Warning

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown4">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-success d-flex align-items-center" id="dropdown5" ngbDropdownToggle>
              Success

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown5">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-secondary d-flex align-items-center" id="dropdown6" ngbDropdownToggle>
              Secondary

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown6">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
 