<div class="backimg">
    <div class="container ">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="text-center">
                    <a href="index.html" style="text-decoration: none;">
                        <img class="mt-5" src="https://coderthemes.com/adminto/layouts/assets/images/logo-dark.png" height="50" alt="">
                        <p class="mt-3 mb-5" style="color: rgb(152 166 173); text-decoration: none;">Responsive Admin Dashboard</p>
                    </a>
                </div>

                <form>
                    <div class="text-center mx-4" style="color: black; font-size: 20px; font-weight: 500;">SIGN IN</div>
                    <div class="form-group">
                        <label class="mt-4" for="exampleInputEmail1">Enter Your Email</label>
                        <input type="email" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label class="mt-4" for="exampleInputPassword1">Enter Your Password</label>
                        <input type="password" class="form-control mt-2 mb-3" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group  form-check checkbox">
                        <input class="mt-5" type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label mt-2 mb-3" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class=" signupbutton btn btn-primary mb-4" (click)="Login()">Login</button>
                </form>
                <p class="text-center mt-5 mb-5" style="color: #696b6d;"><i class="fa-solid fa-lock"></i>Forgot your password? <br> Don't have an account? <span style="font-weight: 500; color: black;">Sign Up</span> </p>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>