<div class="backcolor">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$19</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$29</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$39</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$49</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$19</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$29</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mx-2">
                        <p style="color: rgb(63, 173, 241);">BASIC</p>
                        <p style="font-size: 29px; font-weight: 500; color: white;">$39</p>
                        <p class="pricetext">Per Month</p>
                    </div>
                    <div class="pricetext" style="margin-top: 15%; margin-bottom: 15%;">
                        <p>5 Projects</p>
                        <p>1 GB Storage</p>
                        <p>No Domain</p>
                        <p>1 User</p>
                        <p>24×7 Support</p>
                    </div>
                    <div class="mx-2">
                        <Button class="buttontext btn btn-danger btn-rounded">Signup Now</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col-md-6">
                <p>2023 © Adminto theme by <span style="color: rgb(80, 134, 221);">Coderthemes</span></p>
            </div>
            <div class="col-md-6">
                <div class="text-md-end d-none d-sm-block">
                    <p>About Us &nbsp; &nbsp;Help &nbsp; &nbsp;Contact Us &nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>