<div
  class="row container-fluid"
  style="text-align: center; justify-content: center"
>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">BASIC</p>
        <h4>$19</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">PREMIUM</p>
        <h4>$29</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">DEVELOPERS</p>
        <h4>$39</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">BUSINESS</p>
        <h4>$49</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">BASIC</p>
        <h4>$19</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">PREMIUM</p>
        <h4>$29</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
  <div class="col-md-3 mt-4">
    <div class="text-center">
      <div class="mb-4" style="line-height: 8px">
        <p class="m-2">DEVELOPERS</p>
        <h4>$39</h4>
        <p>per month</p>
      </div>
      <div style="line-height: 10px">
        <p>5 projects</p>
        <p>1 GB Storage</p>
        <p>New Domain</p>
        <p>1 User</p>
        <p>24x7 Support</p>
      </div>
      <button type="button" class="rounded-pill btn btn-success">
        Sign up
      </button>
    </div>
  </div>
</div>
