<section style="background-color: #232830;">
    <div>
        <button class="btn btn-danger" (click)="price()">Price</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card" style="background-color: #313844; color: white;">
                    <div class="card-body">
                        <h4>Total Revenue &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-ellipsis-vertical fa-sm"></i></h4>
                        <div style="text-align: end;" class="mt-3">
                            <p>256</p>
                            <p style="color: rgb(157, 154, 154);">Revenue Today</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card" style="background-color: #313844; color: white;">
                    <div class="card-body">
                        <h4>Sales Analytics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-ellipsis-vertical fa-sm"></i></h4>
                        <div style="text-align: end;" class="mt-3">
                            <p>8256</p>
                            <p style="color: rgb(157, 154, 154);">Revenue Today</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card" style="background-color: #313844; color: white;">
                    <div class="card-body">
                        <h4>Statistics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-ellipsis-vertical fa-sm"></i></h4>
                        <div style="text-align: end;" class="mt-3">
                            <p>4256</p>
                            <p style="color: rgb(157, 154, 154);">Revenue Today</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card" style="background-color: #313844; color: white;">
                    <div class="card-body">
                        <h4>Daily Sales &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-ellipsis-vertical fa-sm"></i></h4>
                        <div style="text-align: end;" class="mt-3">
                            <p>456</p>
                            <p style="color: rgb(157, 154, 154);">Revenue Today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>