<div class="back container-fluid">
  <div class="login-container">
    <h2 class="mb-3">SIGN IN</h2>

    <h6>Name</h6>
    <label>
      <input
        type="text"
        name="email"
        [(ngModel)]="name"
        placeholder="Email Address"
        required
      />
    </label>
    <h6>Password</h6>
    <label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />
    </label>
    <label>
      <input class="m-0 p-0" type="checkbox" name="remember" value="1" />
      Remember Me
    </label>
    <button (click)="call()" type="submit">Log In</button>
  </div>
</div>
