<section class="container-fluid">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened style="width: 20%;">
            <div class="container">
                <!-- row-1 -->
                <div class="row justify-content-center">
                    <div class="col-md-8 d-flex justify-content-center">
                        <img src="https://coderthemes.com/adminto/layouts/assets/images/logo-dark.png" alt=""
                            class="img-fluid img-responsive  w-100">
                    </div>
                </div>
                <!-- row-2 -->
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-10">

                        <div class="container d-flex justify-content-center">
                            <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-responsive img-fluid w-50 " style="border-radius: 50px;">
                        </div>

                        <h2 class="text-center">
                            Novak Helme
                            <span style="color: grey;">
                                <h5>
                                    Admin Head
                                </h5>
                            </span>
                        </h2>

                        <div class="container d-flex justify-content-around" style="width: 50%;">
                            <i class="fa fa-gear"></i>
                            <i class="fa fa-power-off"></i>
                        </div>
                    </div>
                </div>

                <!-- row-3 -->
                <div class="row justify-content-center mt-5">
                    <div class="col-md-12">
                        <h4 style="color: grey;">
                            Navigation
                        </h4>
                        <div class="col-md-11 p-2">
                            <i class="fa-solid fa-house"></i>
                            <span style="color: grey;">
                                Dashboard
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <h4 style="color: grey;">
                            Apps
                        </h4>
                        
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Calender
                            </span>
                        </div>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Chat
                            </span>
                        </div>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Email
                            </span>
                        </div>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Task
                            </span>
                        </div>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Projects
                            </span>
                        </div>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Contact
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 style="color: grey;">
                            Custom
                        </h4>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Auth Pages
                            </span>
                        </div>
                        <div class="col-md-11 mt-2 p-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span style="color: grey;">
                                Extra Pages
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </mat-drawer>
        <mat-drawer-content style="background-color: #282e38; color: white;">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#" style="color: white;">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
               <div class="btn-container me-2">
                <button class="btn-primary btn ">
                    Pricing
                </button>
               </div>
              
                <div class="user-contaienr me-2">
                    <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 30px;">
                                <span>
                                    Name
                                </span>
                </div>

                <div class="icon me-2">
                    <i class="fa fa-bell fa-xl"></i>
                    <i class="fa fa-gear ms-2"></i>
                </div>
                  <form class="form-inline ">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                   
                  </form>
                </div>
              </nav>
          </div>
          <div class="container-fluid mt-2">
            <!-- row-1 -->
            <div class="row">
                <div class="col-md-3 col-sm-6 " >
                    <div class="card p-1" style="background-color: #313844; color: white;">
                        <div class="contaier d-flex justify-content-between">
                            <h4>
                                Total Revenue
                            </h4>
                            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                        </div>
                        <div class="container">
                        <div class="row justify-content-around">
                            <div class="col-md-5">
                                <div class="circle">

                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3 style="color: white;">
                                256
                            </h3>
                            <h6 style="color: grey;">
                                Reveneue Today
                            </h6>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 " >
                    <div class="card p-1" style="background-color: #313844; color: white;">
                        <div class="contaier d-flex justify-content-between">
                            <h4>
                                Total Revenue
                            </h4>
                            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                        </div>
                        <div class="container">
                        <div class="row justify-content-around">
                            <div class="col-md-5">
                                <div class="circle">

                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3 style="color: white;">
                                256
                            </h3>
                            <h6 style="color: grey;">
                                Reveneue Today
                            </h6>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 " >
                    <div class="card p-1" style="background-color: #313844; color: white;">
                        <div class="contaier d-flex justify-content-between">
                            <h4>
                                Total Revenue
                            </h4>
                            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                        </div>
                        <div class="container">
                        <div class="row justify-content-around">
                            <div class="col-md-5">
                                <div class="circle">

                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3 style="color: white;">
                                256
                            </h3>
                            <h6 style="color: grey;">
                                Reveneue Today
                            </h6>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 " >
                    <div class="card p-1" style="background-color: #313844; color: white;">
                        <div class="contaier d-flex justify-content-between">
                            <h4>
                                Total Revenue
                            </h4>
                            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                        </div>
                        <div class="container">
                        <div class="row justify-content-around">
                            <div class="col-md-5">
                                <div class="circle">

                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3 style="color: white;">
                                256
                            </h3>
                            <h6 style="color: grey;">
                                Reveneue Today
                            </h6>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row-2 -->
            <div class="row justify-content-around">
                <div class="col-md-4">
                    <h6 style="color: white;">
                        Daily Sales
                    </h6>
                    <div class="card">
                        <img src="https://w7.pngwing.com/pngs/444/1017/png-transparent-bar-chart-graph-of-a-function-graph-going-up-text-logo-graph-of-a-function-thumbnail.png" alt="" class="img-fluid img-resposive">
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 style="color: white;">
                        Daily Sales
                    </h6>
                    <div class="card">
                        <img src="https://w7.pngwing.com/pngs/444/1017/png-transparent-bar-chart-graph-of-a-function-graph-going-up-text-logo-graph-of-a-function-thumbnail.png" alt="" class="img-fluid img-resposive">
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 style="color: white;">
                        Daily Sales
                    </h6>
                    <div class="card">
                        <img src="https://w7.pngwing.com/pngs/444/1017/png-transparent-bar-chart-graph-of-a-function-graph-going-up-text-logo-graph-of-a-function-thumbnail.png" alt="" class="img-fluid img-resposive">
                    </div>
                </div>
            </div>

            <!-- row-4 -->
            <div class="row justify-content-around">
                <div class="col-md-3 col-sm-6">
                    <div class="card p-3 d-flex flex-row" style="background-color: #313844;">
                        <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 50px;">
                                <h2 class="ms-2" style="color: white;">
                                    hello
                                </h2>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card p-3 d-flex flex-row" style="background-color: #313844;">
                        <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 50px;">
                                <h2 class="ms-2" style="color: white;">
                                    hello
                                </h2>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card p-3 d-flex flex-row" style="background-color: #313844;">
                        <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 50px;">
                                <h2 class="ms-2" style="color: white;">
                                    hello
                                </h2>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card p-3 d-flex flex-row" style="background-color: #313844;">
                        <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 50px;">
                                <h2 class="ms-2" style="color: white;">
                                    hello
                                </h2>

                    </div>
                </div>

            </div>

            <!-- row-5 -->
            <div class="row justify-content-around">
                <div class="col-md-4">
                    <h3 style="color: white;">
                        Inbox
                    </h3>
                    <div class="row justify-content-center" >
                        <div class="col-md-10 d-flex mt-2">
                           <div class="container">
                            <div class="row">
                                <div class="col-md-3 d-flex align-items-center">
                                    <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 90px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="container">
                                        <h2>
                                            <b>
                                                Rahil Khan
                                            </b>
                                        </h2>
                                       
                                            
                                        <p>
                                            Lorem ipsum, dolor
                                        </p>
                                       </div>
                                </div>
                            </div>
                           
                           </div>
                        
                        </div>
                        <div class="col-md-10 d-flex mt-2">
                           <div class="container">
                            <div class="row">
                                <div class="col-md-3 d-flex align-items-center">
                                    <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 90px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="container">
                                        <h2>
                                            <b>
                                                Rahil Khan
                                            </b>
                                        </h2>
                                       
                                            
                                        <p>
                                            Lorem ipsum, dolor
                                        </p>
                                       </div>
                                </div>
                            </div>
                           
                           </div>
                        
                        </div>
                        <div class="col-md-10 d-flex mt-2">
                           <div class="container">
                            <div class="row">
                                <div class="col-md-3 d-flex align-items-center">
                                    <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 90px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="container">
                                        <h2>
                                            <b>
                                                Rahil Khan
                                            </b>
                                        </h2>
                                       
                                            
                                        <p>
                                            Lorem ipsum, dolor
                                        </p>
                                       </div>
                                </div>
                            </div>
                           
                           </div>
                        
                        </div>
                        <div class="col-md-10 d-flex mt-2">
                           <div class="container">
                            <div class="row">
                                <div class="col-md-3 d-flex align-items-center">
                                    <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 90px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="container">
                                        <h2>
                                            <b>
                                                Rahil Khan
                                            </b>
                                        </h2>
                                       
                                            
                                        <p>
                                            Lorem ipsum, dolor
                                        </p>
                                       </div>
                                </div>
                            </div>
                           
                           </div>
                        
                        </div>
                        <div class="col-md-10 d-flex mt-2">
                           <div class="container">
                            <div class="row">
                                <div class="col-md-3 d-flex align-items-center">
                                    <img src="https://images.pexels.com/photos/1270076/pexels-photo-1270076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="" class="img-responsive img-fluid  " style="border-radius: 50px; width: 90px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="container">
                                        <h2>
                                            <b>
                                                Rahil Khan
                                            </b>
                                        </h2>
                                       
                                            
                                        <p>
                                            Lorem ipsum, dolor
                                        </p>
                                       </div>
                                </div>
                            </div>
                           
                           </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3 style="color: white;">
                        Latest Project
                    </h3>

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Assign</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Admin Auto v1</td>
                            <td>1/1/1111</td>
                            <td>1/1/11111</td>
                            <td style="background-color: red;">
                                done
                            </td>
                            <td>colored theme</td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
        </mat-drawer-content>
    </mat-drawer-container>
</section>