
<app-navabr></app-navabr>
<main>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
    <div class="priceCard">
        <h3 style="color: blue;">BASIC</h3>
        <h1>$19</h1>
        <p>per month</p>
        <h4>5 Projects</h4>
        <h4>1 GB Storage</h4>
        <h4>No Domian</h4>
        <h4>1 User</h4>
        <h4>24*7 Support</h4>
        <button>shop now</button>
    </div>
</main>


